<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Authenticator</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<div class="authenticator-page">
		<div class="form">
			<h1>Authenticator</h1>
			<div>
				<div class="error" th:if="${param.error}">Invalid code. Please try again.</div>
				<form class="login-form" method="post" th:action="@{/authenticator}">
					<label for="code">Code: </label>
					<input id="code" type="text" name="code" placeholder="Code" required autofocus><br><br>
					<button class="button" id="submit-button" type="submit">Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>

</html>